@font-face {
  font-family: "Shizuru";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Shizuru-Regular.ttf);
}
@font-face {
  font-family: "Bungee Outline";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./BungeeOutline-Regular.ttf);
}
