.float {
  position: relative;
  animation: float 35s ease-out infinite;

  &.inv {
    animation: float-inv 35s ease-out infinite;
  }
}

.time {
  gap: 1rem;
  display: flex;

  @apply sm:!flex-row sm:!p-5 sm:!min-w-40;
  @apply flex-col bg-slate-100 p-4 rounded-lg shadow shadow-slate-900 justify-center z-10 min-w-20;
}

@media (max-width: 640px) {
  #app {
    @apply w-full h-full;
  }

  #open-setting {
    @apply fill-black;
  }
}

@media (max-height: 600px) {
  #app {
    @apply w-full h-full max-w-none rounded-none;
  }

  #open-setting {
    @apply fill-black;
  }
}

@keyframes float {
  from,
  to {
    transform: translate(0, 0) rotate(45deg);
  }
  25% {
    transform: translate(var(--x), var(--y)) rotate(90deg);
  }
  50% {
    transform: translate(calc(var(--x) * -1), var(--y)) rotate(180deg);
  }
  75% {
    transform: translate(var(--x), calc(var(--y) * -1)) rotate(270deg);
  }
}

@keyframes float-inv {
  from {
    transform: translate(var(--x), calc(var(--y) * -1)) rotate(270deg);
  }
  25% {
    transform: translate(calc(var(--x) * -1), var(--y)) rotate(180deg);
  }
  50% {
    transform: translate(var(--x), calc(var(--y) * -1)) rotate(270deg);
  }
  75% {
    transform: translate(calc(var(--x) * -1), var(--y)) rotate(180deg);
  }
  to {
    transform: translate(var(--x), calc(var(--y) * -1)) rotate(270deg);
  }
}
